parameters:
  level: 8
  reportUnmatchedIgnoredErrors: false
  paths:
    - ./cloudflare-utils.php
    - ./classes
  scanFiles:
    - ./tests/phpstan-stubs.php
  bootstrapFiles:
    - ./cloudflare-utils.php
  ignoreErrors: